<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipes</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to My Recipes</h1>
    <a href="/recipes/new">Add Recipe</a>
    <% if (recipes.length) { %>
    <ul>
      <% recipes.forEach((recipe) => { %>
      <a href="/recipes/<%= recipe._id %>">
        <li><%= recipe.name %></li>
      </a>
      <% }) %>
    </ul>
    <% } else { %>
    <p>You have no recipes yet.</p>
    <% } %>
  </body>
</html>
